{{> header lang=htmlWebpackPlugin.options.lang}}

<main role="main">
  <div class="row align-center main-section">
    <div class="large-6 medium-8 small-12 columns">
      <h2>{{{translate htmlWebpackPlugin.options.lang 'contactUsTitle'}}}</h2>
      <p>
        {{translate htmlWebpackPlugin.options.lang 'contactDesc1'}} <a href="https://www.net7.be" target="_blank" rel="noopener noreferrer">Net7</a> {{translate htmlWebpackPlugin.options.lang 'contactDesc2'}}
      </p>
      <p>
        {{translate htmlWebpackPlugin.options.lang 'contactDesc3'}} <a href="mailto:support@net7.be">support@net7.be</a>.
      </p>
      <p>
        {{translate htmlWebpackPlugin.options.lang 'alsoAvailByPhone'}}: <strong>+32&nbsp;(0)2&nbsp;481&nbsp;14&nbsp;32</strong>
      </p>
    </div>

  </div>
  
</main>

{{> footer lang=htmlWebpackPlugin.options.lang}}