{{> header lang=htmlWebpackPlugin.options.lang}}

<main role="main">
  <div class="row align-center main-section">
    <div class="large-6 medium-8 small-12 columns">
      <h2>{{translate htmlWebpackPlugin.options.lang 'freeTrialTitle'}}</h2>
      <p>{{translate htmlWebpackPlugin.options.lang 'trialRequestDesc'}}</p>
      <p>{{translate htmlWebpackPlugin.options.lang 'tReqDesc2'}}</p>
      <p>
        {{translate htmlWebpackPlugin.options.lang 'feelFreeTo'}} <a href="/{{htmlWebpackPlugin.options.lang}}/contact.html">{{translate htmlWebpackPlugin.options.lang 'contactUs'}}</a> {{translate htmlWebpackPlugin.options.lang 'forMoreInfo'}}
      </p>
      <p>{{translate htmlWebpackPlugin.options.lang 'fillOutFields'}}</p>

      <hr>

      <div id="message" class="callout" style="display: none;"></div>

      <form id="trialForm">
        <label>{{translate htmlWebpackPlugin.options.lang 'yourName'}}:
          <input required type="text" name="nameInput" id="nameInput" placeholder="Your name">
        </label>
        <label>{{translate htmlWebpackPlugin.options.lang 'yourEmail'}}:
          <input required type="text" name="emailInput" id="emailInput" placeholder="Your email">
        </label>
        <label>{{translate htmlWebpackPlugin.options.lang 'language'}}:
          <select name="trialLangSelect" id="trialLangSelect">
            <option value="en" {{{setAttrGeneric htmlWebpackPlugin.options.lang 'en' 'selected'}}}>{{{translate htmlWebpackPlugin.options.lang 'english'}}}</option>
            <option value="fr" {{{setAttrGeneric htmlWebpackPlugin.options.lang 'fr' 'selected'}}}>{{{translate htmlWebpackPlugin.options.lang 'french'}}}</option>
            <option value="nl" {{{setAttrGeneric htmlWebpackPlugin.options.lang 'nl' 'selected'}}}>{{{translate htmlWebpackPlugin.options.lang 'dutch'}}}</option>
          </select>
        </label>
        <div class="text-right">
          <button class="button large" type="submit" name="submButton" id="submButton">{{translate htmlWebpackPlugin.options.lang 'sendRequest'}}</button>
        </div>
      </form>

      <hr>

    </div>

  </div>
  
</main>

{{> footer lang=htmlWebpackPlugin.options.lang}}