{{> header lang=htmlWebpackPlugin.options.lang}}

<main role="main">
  <div class="row cta">
    <div class="callout large large-6 medium-12 small-12 columns">
      <div class="text-center">
        <h1>Net7 RemindOthers</h1>
        <p class="lead">{{translate htmlWebpackPlugin.options.lang 'lead'}}</p>
        <a href="#lmore" class="button large">{{translate htmlWebpackPlugin.options.lang 'learnMore'}}</a>
        <a href="/{{htmlWebpackPlugin.options.lang}}/free-trial.html" class="button large hollow">{{translate htmlWebpackPlugin.options.lang 'freeTrialTitle'}}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 small-12 columns medium-pull-6">
      <h2 id="lmore">{{translate htmlWebpackPlugin.options.lang 'fullyConfReminders'}}</h2>
      <p>{{translate htmlWebpackPlugin.options.lang 'desc1'}}</p>
      <p>{{translate htmlWebpackPlugin.options.lang 'desc2'}}</p>
      <p>{{translate htmlWebpackPlugin.options.lang 'desc3'}}</p>
      <p>{{translate htmlWebpackPlugin.options.lang 'youMay'}} <a href="/{{htmlWebpackPlugin.options.lang}}/free-trial.html">{{translate htmlWebpackPlugin.options.lang 'requestFree'}}</a>.</p>
    </div>
    <div class="medium-6 small-12 columns medium-push-6">
      <img class="thumbnail" src="../../static/rothers_app_{{htmlWebpackPlugin.options.lang}}.png">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="medium-4 small-12 columns">
      <h3>{{translate htmlWebpackPlugin.options.lang 'campaigns'}}</h3>
      <p>{{translate htmlWebpackPlugin.options.lang 'campDesc'}}</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h3>{{translate htmlWebpackPlugin.options.lang 'col2title'}}</h3>
      <p>{{translate htmlWebpackPlugin.options.lang 'col2desc'}}</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h3>{{translate htmlWebpackPlugin.options.lang 'immediateReminders'}}</h3>
      <p>{{translate htmlWebpackPlugin.options.lang 'col3desc'}}</p>
    </div>
  </div>
</main>

{{> footer lang=htmlWebpackPlugin.options.lang}}