<!DOCTYPE html>
<html lang="{{{lang}}}" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{{altHreflang lang htmlWebpackPlugin.options.page}}}
  <title>{{#if htmlWebpackPlugin.options.pageTitle}}{{{translate lang htmlWebpackPlugin.options.pageTitle}}} | {{/if}}{{{translate lang 'siteTitle'}}}</title>
  {{{scriptFromChunk htmlWebpackPlugin.options.headScript}}}
  {{{injectCSS 'app'}}}
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu hide-for-small-only" data-dropdown-menu>
          <li class="menu-text">RemindOthers</li>
          {{> menu lang=lang}}
        </ul>
      </div>
      
      <div class="top-bar-right menu-extra">
        <div class="lang-selector">
          <img src="../../static/globe.svg" height="36" width="36" />
          <select id="langSelector">
            <option data-lang="en" {{{setAttrGeneric lang 'en' 'selected'}}}>EN</option>
            <option data-lang="fr" {{{setAttrGeneric lang 'fr' 'selected'}}}>FR</option>
            <option data-lang="nl" {{{setAttrGeneric lang 'nl' 'selected'}}}>NL</option>
          </select>
        </div>
        <button id="menuBtn" class="show-for-small-only">
          <img width="40" src="../../static/menu.png" alt="Mobile menu icon">
        </button>
      </div>

      {{!--
      <div class="top-bar-right text-right show-for-small-only">
        <button id="menuBtn">
          <img width="40px" src="../../static/menu.png" alt="Mobile menu icon">
        </button>
      </div>
      --}}
      
      <div id="mobileNav" class="menu-shadow">
        <div class="text-center">
          <img src="/manifest/icon-72x72.png" alt="Net7 Logo">
        </div>
        <hr>
        <ul>
          {{> menu lang=lang}}
        </ul>
      </div>
      <div id="mobileNavOverlay"></div>
    </div>   
  </header>